.container {
  display: flex;
  padding: 16px;
}
.btn {
  width: 160px;
  height: 48px;
  border-radius: 12px;
  margin: 0 15px 16px 0;
  border: 0;
}
.cancel {
  background: #fff;
  color: #000;
}

.confirm {
  background: #1890ff;
  color: #fff;
}